<style>
  #all_attributes .select2-container {
    font-size: 11px;
  }
/*
  .select2-choice option {
    height: 20px !important;
    line-height: 20px !important;
  }
  */
</style>

<script type="text/javascript">
  jQuery(function() {
//  $("#issue_fixed_version_id").parent().hide();
      var selectors = [
	  ".list_cf",
	  ".version_cf",
	  //  "#issue_tracker_id",
	  //  "#issue_priority_id",
	  "#issue_assigned_to_id",
	  "#issue_fixed_version_id",
	  "#issue_priority_id",
	  //  "#issue_status_id",
	  "#time_entry_activity_id"
      ];
      $.each(selectors, function(index, selector) {
	  $(selector).select2({ width: '60%' });
      });

      $("#issue_project_id").select2({width: '300px'});
      $("#issue_tracker_id").select2({width: '300px'});

  });
</script>
